# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.config.old
Module.symvers
include/config/auto.conf
include/generated/autoconf.h
include/generated/compile.h

